<body>
 <div class="content clearfix">
   <div class="main-content">
    <div class="title"><h3><strong>Genre</strong></h3></div>
      <div class="item-content">

        <div class="portfolio-item">
          <div class="portfolio-item-content">
            <img class="portfolio-image" src="/icon_124452_128.png">
            <div class="item-text">J-POP</div>
          </div>
        </div>

        <div class="portfolio-item">
          <div class="portfolio-item-content">
             <img class="portfolio-image" src="/icon_143142_128.png">
            <div class="item-text">HIP-HOP</div>
          </div>
        </div>
        <div class="portfolio-item">
          <div class="portfolio-item-content">
            <img class="portfolio-image" src="/icon_133092_128.png">
            <div class="item-text">レゲエ</div>
          </div>
        </div>
        <div class="portfolio-item">
          <div class="portfolio-item-content">
            <img class="portfolio-image" src="/icon_102082_128.png">
            <div class="item-text">R&B</div>
          </div>
        </div>
        <div class="portfolio-item">
          <div class="portfolio-item-content">
            <img class="portfolio-image" src="/icon_129622_128.png">
             <div class="item-text">JAZZ</div>
          </div>
        </div>
        <div class="portfolio-item">
          <div class="portfolio-item-content">
            <img class="portfolio-image" src="/icon_129712_128.png">
            <div class="item-text">ロック</div>
          </div>
        </div>
        <div class="portfolio-item">
          <div class="portfolio-item-content">
            <img class="portfolio-image" src="/icon_149462_128.png">
             <div class="item-text">ELECTRONIC</div>
          </div>
        </div>
        <div class="portfolio-item">
          <div class="portfolio-item-content">
            <img class="portfolio-image" src="/icon_000892_128.png">
             <div class="item-text">K-POP</div>
          </div>
        </div>
        <div class="portfolio-item">
          <div class="portfolio-item-content">
            <img class="portfolio-image" src="/icon_129702_128.png">
             <div class="item-text">オルタナティブ</div>
          </div>
        </div>
      </div>
   </div>
 </div>
</body>
</html>



