<body>
 <div class="content clearfix">
   <div class="main-content">
    <div class="genre-title"><h3><strong>J-pop</strong></h3></div>
      <div class="item-content">
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
      </div>
   </div>
 </div>
</body>
