<div class="news-index">
  <div class="clearfix">
    <div class="sidebar">
      <div class="user-content">
        <div class="user-image">
        </div>
        <div class="user-profile">
          <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
          <a class="my-side" href="#" style="text-decoration: none;">CART</a>
          <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
          <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="item-quantity-edit-main">
          <div class="order-item-title"><h3><strong>在庫追加</strong></h3></div>
          <div class="quantity-edit-content col-sm-12 col-md-12">
            <div class="order-item-xxx col-sm-1 col-md-1"></div>
            <div class="quantity-edit-image col-sm-4 col-md-4">
              <div class="quantity-edit-image2"></div>
            </div>
            <div class="order-item-xxx col-sm-1 col-md-1"></div>

           <div class="quantity-edit-form col-sm-5 col-md-5">
            <div class="item-quantity-edit-form">
                <form>
                  <div class="form-quantity-edit">
                    <label>商品名</label>
                    <input type="text" name="title" class="form-control" placeholder="0">
                  </div>
                  <div class="form-quantity-edit">
                    <label>在庫数</label>
                    <input type="text" name="title" class="form-control" placeholder="0">
                  </div>
                  <div class="form-quantity-edit">
                    <label>追加数</label>
                    <input type="text" name="title" class="form-control" placeholder="0">
                  </div>
                  <div class="form-quantity-edit-btn">
                   <button type="submit" class="btn btn-default btn-block item-quantity-edit-btn>" style="background-color: #a94442;color: white;display: inline;">在庫を追加</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="order-item-xxx col-sm-1 col-md-1"></div>

            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
