<body>
  <div class="content clearfix">
    <div class="main-content" >
      <div class="buy-item-content">
        <div class="buy-massege">
        <p>購入が確定しました！</p>
        </div>
        <div class="top-btn">
        <a href="#" class="square_btn">トップページへ戻る</a>
        </div>
      </div>
    </div>
  </div>
</body>













