<div class="clearfix">
  <div class="sidebar">
    <div class="user-content">
      <div class="user-image">
      </div>
      <div class="user-profile">
        <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
        <a class="my-side" href="#" style="text-decoration: none;">CART</a>
        <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
        <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
      </div>
    </div>
  </div>
  <!-- main -->
  <div class="order-show-main">
    <div class="container order-item-containar">
      <div class="row">
        <div class="col-sm-12">
          <div class="title"style="margin-bottom: 30px;"><h3><strong>注文一覧</strong></h3></div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>注文ID</th>
                  <th>商品名</th>
                  <th>金額</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th>合計</th>
                  <th>購入者名</th>
                  <th>ステータス</th>
                  <th>支払い方法</th>
                  <th>住所</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <th>heavenly</th>
                  <td>2425</td>
                  <td>1</td>
                  <td>2425</td>
                  <td>17608</td>
                  <th>ユーザー１</th>
                  <th>商品準備中</th>
                  <th>クレジットカード</th>
                  <th>××県××市××町2-2-2</th>
                </tr>
                <tr>
                  <th>1</th>
                  <th>Tierra</th>
                  <td>2396</td>
                  <td>2</td>
                  <td>4792</td>
                  <td>17608</td>
                  <th>ユーザー１</th>
                  <th>商品準備中</th>
                  <th>クレジットカード</th>
                  <th>××県××市××町2-2-2</th>
                </tr>
                <tr>
                  <th>1</th>
                  <th>True</th>
                  <td>2136</td>
                  <td>3</td>
                  <td>6408</td>
                  <td>17608</td>
                  <th>ユーザー１</th>
                  <th>商品準備中</th>
                  <th>クレジットカード</th>
                  <th>××県××市××町2-2-2</th>
                </tr>
                <tr>
                  <th>2</th>
                  <th>タイトル１</th>
                  <td>1000</td>
                  <td>1</td>
                  <td>1000</td>
                  <td>5000</td>
                  <th>ユーザー2</th>
                  <th>受付け</th>
                  <th>代引き</th>
                  <th>××県××市××町1-1-1</th>
                </tr>
                <tr>
                  <th>2</th>
                  <th>タイトル２</th>
                  <td>2000</td>
                  <td>2</td>
                  <td>4000</td>
                  <td>5000</td>
                  <th>ユーザー2</th>
                  <th>受付け</th>
                  <th>代引き</th>
                  <th>××県××市××町1-1-1</th>
                </tr>
              </tbody>
            </table>
          </div>
          <a class="btn btn-default" href="#" role="button" style="margin: 10px 0;"></span>管理者画面へ</a>
        </div>
      </div>
    </div>
  </div>
</div>
