<div class="admin-show-container">
  <div class="row">
<br>
<br>

        <div class="col-xs-5 col-xs-offset-3 admin-profile-title">
          <div class="user-title">
            <span><strong>Admin Profile edit</strong></span>
          </div>
          <br>
          <br>
          <br>
        </div>
        <div class="col-xs-5 col-xs-offset-3 admin-profile-containar">
          <div class="profile-content">
            <div class="col-xs-8 col-xs-offset-1">
          <div class="profile-info">
            <ul>
              <li>name:</li>
              <li>mail:</li>

            </ul>
            <br>
           <div class="col-xs-3 col-xs-offset-9 btn btn-primary">submit</div>
          </div>
        </div>
        </div>
        </div>

      </div>
    </div>
      </div>
       </div>
</div>

