<script src="ScrollTrigger.min.js"></script>
<script>document.addEventListener('DOMContentLoaded', function(){ScrollTrigger.init();});</script>

<div class="admin-show-container">
  <div class="main-content">
    <div class="row admin-main">
      <div class="col-xs-12 col-sm-12">
        <div class="user-title">
        <span><strong>Admin Profile info</strong></span>
        </div>

        <div class="col-xs-5 col-sm-5">
          <div data-scroll class="aaa">コンテンツ</div>
          <div data-scroll="">コンテンツ</div>
          <div data-scroll="">コンテンツ</div>
        <div class="col-xs-8 col-xs-offset-2">
        <div class="profile-info">
        <ul>
          <li><%= @admin.email %></li>
        </ul>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

