<div class="news-index">
  <div class="clearfix">
     <!-- main -->
    <div class="container-fluid">
      <div class="row">
        <div class="delivery-address-main">
          <div class="delivery-address-title"><h3><strong>Delivery Address</strong></h3></div>
          <div class="delivery-address-content clearfix">
              <div class="delivery-address-text">
                <h3 class="delivery-address-date">登録住所1</h3>
                <table class="delivery-address-table">
                <tr>
                  <th>姓</th>
                  <th>名</th>
                  <th>郵便番号</th>
                  <th>住所</th>
                  <th>電話番号</th>
                  <th></th>
                </tr>
                <tr>
                  <td class="delivery-address-name">東京</td>
                  <td class="delivery-address-quantity">太郎</td>
                  <td class="delivery-address-price">123-1234</td>
                  <td class="delivery-address-quantity">東京都渋谷区◯◯1-2-3 ◯◯ビル102号室</td>
                  <td class="delivery-price">03-1234-5678</td>
                  <td class="delivery-btn-content">
                    <a href="#" class="delivery-btn">Edit</a>
                  </td>
                </tr>
                </table>
              </div>
            <div class="delivery-address-text">
                <h3 class="delivery-address-date">登録住所2</h3>
                <table class="delivery-address-table">
                <tr>
                  <th>姓</th>
                  <th>名</th>
                  <th>郵便番号</th>
                  <th>住所</th>
                  <th>電話番号</th>
                  <th></th>
                </tr>
                <tr>
                  <td class="delivery-address-name">東京</td>
                  <td class="delivery-address-quantity">太郎</td>
                  <td class="delivery-address-price">123-1234</td>
                  <td class="delivery-address-quantity">東京都渋谷区◯◯1-2-3 ◯◯ビル102号室</td>
                  <td class="delivery-price">03-1234-5678</td>
                  <td class="delivery-btn-content">
                    <a href="#" class="delivery-btn">Edit</a>
                  </td>
                </tr>
                </table>
              </div>
              <div class="delivery-address-text">
                <h3 class="delivery-address-date">登録住所3</h3>
                <table class="delivery-address-table">
                <tr>
                  <th>姓</th>
                  <th>名</th>
                  <th>郵便番号</th>
                  <th>住所</th>
                  <th>電話番号</th>
                  <th></th>
                </tr>
                <tr>
                  <td class="delivery-address-name">東京</td>
                  <td class="delivery-address-quantity">太郎</td>
                  <td class="delivery-address-price">123-1234</td>
                  <td class="delivery-address-quantity">東京都渋谷区◯◯1-2-3 ◯◯ビル102号室</td>
                  <td class="delivery-price">03-1234-5678</td>
                  <td class="delivery-btn-content">
                    <a href="#" class="delivery-btn">Edit</a>
                  </td>
                </tr>
                </table>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
