<!-- main -->
<div class="container-fluid">
  <div class="row">
    <div class="delivery-address-post-main">
      <div class="title"><h3><strong>新規住所登録</strong></h3></div>
          <div class="delivery-address-post-list">
            <form>
              <div class="form-group">
                <label>姓</label>
                <input type="text" name="title" class="form-control" placeholder="東京">
              </div>
              <div class="form-group">
                <label>名</label>
                <input class="form-control" placeholder="太郎"></input>
              </div>
              <div class="form-group">
                <label>郵便番号</label>
                <input type="text" name="title" class="form-control" placeholder="123-1234">
              </div>
              <div class="form-group">
                <label>住所</label>
                <input type="text" class="form-control" placeholder="東京都渋谷区◯◯1-2-3 ◯◯ビル102号室"></input>
              </div>
              <div class="form-group">
                <label>電話番号</label>
                <input type="text" name="title" class="form-control" placeholder="03-1234-5678">
              </div>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                  <button type="submit" class="btn btn-default pull-right" style="margin-bottom: 30px;">投稿</button>
                </div>
              </div>
            </form>
          </div>
    </div>
  </div>
</div>
