<body>
 <div class="content clearfix">
   <div class="sidebar">
    <div class="user-content">
      <div class="user-image">
      </div>
      <div class="user-profile">
          <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
          <a class="my-side" href="#" style="text-decoration: none;">CART</a>
          <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
          <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
      </div>
    </div>
   </div>
   <div class="main-content">
    <div class="review-title"><h3><strong>Review</strong></h3></div>
    <div class="containar">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 review">
          <div class="col-xs-3">
            <img class="review-user-image"></img>
          </div>
          <div class="col-xs-7">
            <div class="review-comment">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
          </div>
          <div class="col-xs-2">
            <div class="review-comment">⭐️⭐️⭐️⭐️⭐️</div>
          </div>
        </div>


        <div class="col-xs-10 col-xs-offset-1 review">
          <div class="col-xs-3">
            <img class="review-user-image"></img>
          </div>
          <div class="col-xs-7">
            <div class="review-comment">aaaaaaaaaaaaaaaaaaaaa</div>
          </div>
          <div class="col-xs-2">
            <div class="review-comment">⭐️⭐️</div>
          </div>
        </div>


        <div class="col-xs-10 col-xs-offset-1 review">
          <div class="col-xs-3">
            <img class="review-user-image"></img>
          </div>
          <div class="col-xs-7">
            <div class="review-comment">aaaaaaaaaaaaaaaaaaaaa</div>
          </div>
          <div class="col-xs-2">
            <div class="review-comment">⭐️⭐️⭐️⭐️⭐️</div>
          </div>
        </div>


        <div class="col-xs-10 col-xs-offset-1 review">
          <div class="col-xs-3">
            <img class="review-user-image"></img>
          </div>
          <div class="col-xs-7">
            <div class="review-comment">aaaaaaaaaaaaaaaaaaaaa</div>
          </div>
          <div class="col-xs-2">
            <div class="review-comment">⭐️</div>
          </div>
        </div>


        <div class="col-xs-10 col-xs-offset-1 review">
          <div class="col-xs-3">
            <img class="review-user-image"></img>
          </div>
          <div class="col-xs-7">
            <div class="review-comment">aaaaaaaaaaaaaaaaaaaaa</div>
          </div>
          <div class="col-xs-2">
            <div class="review-comment">⭐️⭐️</div>
          </div>
        </div>


        <div class="col-xs-10 col-xs-offset-1 review">
          <div class="col-xs-3">
            <img class="review-user-image"></img>
          </div>
          <div class="col-xs-7">
            <div class="review-comment">aaaaaaaaaaaaaaaaaaaaa</div>
          </div>
          <div class="col-xs-2">
            <div class="review-comment">⭐️⭐️⭐️⭐️⭐️</div>
          </div>
        </div>


        <div class="col-xs-10 col-xs-offset-1 review">
          <div class="col-xs-3">
            <img class="review-user-image"></img>
          </div>
          <div class="col-xs-7">
            <div class="review-comment">aaaaaaaaaaaaaaaaaaaaa</div>
          </div>
          <div class="col-xs-2">
            <div class="review-comment">⭐️⭐️⭐️</div>
          </div>
        </div>


       <div class="col-xs-10 col-xs-offset-1 review">
          <div class="col-xs-3">
            <img class="review-user-image"></img>
          </div>
          <div class="col-xs-7">
            <div class="review-comment">aaaaaaaaaaaaaaaaaaaaa</div>
          </div>
          <div class="col-xs-2">
            <div class="review-comment">⭐️⭐️⭐️⭐️</div>
          </div>
        </div>


       <div class="col-xs-10 col-xs-offset-1 review">
          <div class="col-xs-3">
            <img class="review-user-image"></img>
          </div>
          <div class="col-xs-7">
            <div class="review-comment">aaaaaaaaaaaaaaaaaaaaa</div>
          </div>
          <div class="col-xs-2">
            <div class="review-comment">⭐️⭐️</div>
          </div>
        </div>
    </div>

        </div>
      </div>
    </div>
</body>
