<body>
 <div class="content clearfix">
   <div class="sidebar">
    <div class="user-content">
      <div class="user-image">
      </div>
      <div class="user-profile">
          <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
          <a class="my-side" href="#" style="text-decoration: none;">CART</a>
          <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
          <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
      </div>
    </div>
   </div>

   <div class="main-content">
    <div class="title"><h3><strong>Artist</strong></h3></div>
      <div class="item-content">

        <% @artist.each do |artists| %>
          <div class="111">
            <div class="222">
              <%= attachment_image_tag artists, :artist_image, :fill, 300, 300, format: 'jpg', class: "artist-item" %>
            </div>
            <div class="artist-text">
              <div class="artist-name"><p><%= artists.name %></p></div>
            </div>
          </div>
        <% end %>
      </div>
        <div class="pagenation">
         <%= paginate @artist, class: "pagenate" %>
        </div>
   </div>
 </div>
</body>













