<div class="clearfix">
	<!-- main -->
	<div class="massage-index-main">
		<div class="container-fruid">
			<div class="row" style="padding: 0 15px;">
				<div class="message-title"><h3><strong>メッセージ一覧</strong></h3></div>
				<!-- ユーザー1 -->
				<div class="message-index-content">
					<!-- ユーザー画像 -->
					<div style="margin: 20px 0;">
						<div class="row" style="padding: 0 70px;">
							<div class="col-xs-4  col-sm-3">
								<img src="/messageimg/user3.png">
							</div>
						</div>
					</div>
					<!-- ユーザーのメッセージ -->
					<div class="message-new-list">
						<div class="row" style="padding: 0 70px;">
							<!-- メッセージ１ -->
							<div class="index-text-box col-sm-12">
								<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
							</div><br>
							<button type="submit" class="btn btn-default pull-right" style="margin-bottom: 30px">返信</button>
							<!-- メッセージ2 -->
							<div class="index-text-box col-sm-12">
								<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
							</div><br>
							<button type="submit" class="btn btn-default pull-right" style="margin-bottom: 30px">返信</button>
							<!-- メッセージ3 -->
							<div class="index-text-box col-sm-12">
								<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
							</div><br>
							<button type="submit" class="btn btn-default pull-right" style="margin-bottom: 30px">返信</button>
						</div>
					</div>
				</div>
				<!-- ユーザー２ -->
				<div class="message-index-content">
					<!-- ユーザー画像 -->
					<div style="margin: 20px 0;">
						<div class="row" style="padding: 0 70px;">
							<div class="col-xs-4  col-sm-3">
								<img src="/messageimg/user4.png">
							</div>
						</div>
					</div>
					<!-- ユーザーのメッセージ -->
					<div class="message-new-list">
						<div class="row" style="padding: 0 70px;">
							<!-- メッセージ１ -->
							<div class="index-text-box col-sm-12">
								<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
							</div><br>
							<button type="submit" class="btn btn-default pull-right" style="margin-bottom: 30px">返信</button>
							<!-- メッセージ2 -->
							<div class="index-text-box col-sm-12">
								<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
							</div><br>
							<button type="submit" class="btn btn-default pull-right" style="margin-bottom: 30px">返信</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav style="padding-left: 70px;">
			<ul class="pagination">
				<li>
					<a href="#" aria-label="前のページへ">
						<span aria-hidden="true">«</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li class="active"><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="次のページへ">
						<span aria-hidden="true">»</span>
					</a>
				</li>
			</ul>
		</nav>
		<div style="margin-top: 30px; padding-left: 70px; ">
			<button type="submit" class="btn btn-default purll-right">管理者画面へ</button>
		</div>
	</div>
</div>
