<div class="user-edit-container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="title">
        <span><strong>Profile Edit</strong></span>
      </div>
    </div>
      <div class="col-xs-2 col-xs-offset-2">
        <div class="user-show-image"></div>
        <br>
        <div id="user-edit" class="col-xs-10 btn btn-primary">イメージ選択</div>
      </div>

      <div class="col-xs-5"><br><br><br></div>

        <div class="col-xs-6">
          <div class="profile-content">
            <div class="col-xs-9 col-xs-offset-1 user-profile-containar"">
              <div class="profile-info">
                <ul>
                  <li>name:</li>
                  <li>mail:</li>
                  <li>tel:</li>
                  <li>addres:</li>
                  <li>name:</li>
                  <li>mail:</li>
                  <li>tel:</li>
                  <li>addres:</li>
                  <li>name:</li>
                  <li>mail:</li>
                  <li>tel:</li>
                  <li>addres:</li>
                </ul>
              <br>
                <div class="col-xs-3 col-xs-offset-9 btn btn-primary">submit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

