<body>
 <div class="content clearfix">
   <div class="sidebar">
    <div class="user-content">
      <div class="user-image">
      </div>
      <div class="user-profile">
          <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
          <a class="my-side" href="#" style="text-decoration: none;">CART</a>
          <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
          <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
      </div>
    </div>
   </div>
   <div class="main-content">
    <div class="genre-title"><h3><strong>J-pop</strong></h3></div>
      <div class="item-content">
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
        <div class="artist-item">
          <div class="artist-text">
            <div class="artist-name"><p>J-POP</p></div>
          </div>
        </div>
      </div>
   </div>
 </div>
</body>
