<div class="content clearfix">
  <div class="main-content" >
    <div class="buy-item-content">
      <div class="buy-massege">
        <p>購入が確定しました！</p>
      </div>
      <div class="top-btn">
        <%= link_to "トップページへ戻る", genres_path, class:"square_btn" %>
      </div>
      <div class="top-btn">
        <%= link_to "注文履歴へ", orders_path, class:"square_btn" %>
      </div>
    </div>
  </div>
</div>