.item-title {
  text-align: left;
  padding-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
  font-family: verdana;
  font-size: 35px;
  border-bottom: 3px solid gray;
}
.item-title h3 {
  margin: 20px 20px 20px 60px;
  font-size: 40px;
}
.main-content {
  width: 80%;
  height: 800px;
  border: 3px solid #444444;
  float: left;
  overflow: scroll;
  background-color: #222222;
}
.new-item-content {
/*  background-color: gray;*/
background-color: rgba(192, 192, 192, 0.2);
padding-bottom: 15px;
color: #EEEEEE;
}
.item-title-field {
  border-bottom: 3px solid gray;
  margin-top: 40px;
}
.song {
	border-bottom: 3px solid gray;
}
.well {
	background-color: gray;
}
.new-item-side {
	width: 30%;
	float: left;
	color: #EEEEEE;
	padding: 40px;
}
.new-item-right {
	width: 65%;
	float: left;
	color: #EEEEEE;
}

.item-upimage {
	width: 70%;
}
.disc-remove {
	margin-left: 40px;
}
.song-title th {
	padding-left: 10px;

}
.song-create {
	margin-top: 20px;
}
.song-content{
	width: 100%;
}
td,
th {
  padding: 0;
  width: 500px;
}

/*-----index*/

.index-item-pic {
  float: left;
  padding: 40px 10px 20px 0;
  height: 100%;
}

.index-item-date {
  // margin-top: 45px;
}

.index-item-date .table > thead > tr > th,
.index-item-date .table > thead > tr > td,
.index-item-date .table > tbody > tr > th,
.index-item-date .table > tbody > tr > td,
.index-item-date .table > tfoot > tr > th,
.index-item-date .table > tfoot > tr > td {

  vertical-align: middle;
  text-align: center;
  border-top: 0;
}
.index-item-date .table > tbody > tr > td {
  height: 130px;
}
.index-item-table {
  margin-top: 10px;
}

.index-item-table th {
  padding: 0 20px 0 0;
  color: #dacd86;
  font-size: 20px
}

.index-item-table td {
  padding: 10px 10px 5px 0;
  color: white;
  font-size: 16px
}


.index-content {
  border-bottom: 1px solid gray;
}

.index-content:last-child {
  border-bottom: none;
}

.pagenation-index {
  margin:10px 20px 0px 30px ;
}

.index-main-content {
  width: 80%;
  height: 800px;
  padding: 20px;
  border: 3px solid #444444;
  float: left;
  overflow: scroll;
  background-color: #222222;
}
