<div class="sidebar">
  <div class="user-content">
    <div class="user-image">
    </div>
    <div class="user-profile">
      <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
      <a class="my-side" href="#" style="text-decoration: none;">CART</a>
      <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
      <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
    </div>
  </div>
</div>
<!-- main -->
<div class="container-fluid">
  <div class="row">
    <div class="news-new-main">
      <div class="title"><h3><strong>NEWS 新規投稿</strong></h3></div>
      <div class="news-new-content">
        <div class="col-sm-4">
          <!-- Newsイメージ画像 -->
          <img src="/newsimg/1024px-No_image_available.svg.png" class="img-responsive">
          <a class="btn btn-default btn-block upimage" href="#">イメージを選択</a>
        </div>
        <div class="col-sm-8">
          <div class="news-new-list">
            <form>
              <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" placeholder="タイトル入力欄">
              </div>
              <div class="form-group">
                <label>Caption</label>
                <!-- NewsCaption -->
                <textarea placeholder="本文入力欄" rows="8" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                  <button type="submit" class="btn btn-default pull-right" style="margin-bottom: 30px;">投稿</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
