<div class="clearfix">
	<div class="sidebar">
		<div class="user-content">
			<div class="user-image">
			</div>
			<div class="user-profile">
				<a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
				<a class="my-side" href="#" style="text-decoration: none;">CART</a>
				<a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
				<a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
			</div>
		</div>
	</div>
	<!-- main -->
	<div class="item-show-main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12" style="margin-bottom: 50px;">
					<!-- メイン画像 -->
					<img src="/itemimg/mainimage.png" class="img-responsive">
				</div>
			</div>
			<div class="row">
				<!-- 左サイド -->
				<div class="content-left col-sm-4">
					<!-- item画像 -->
					<img src="/itemimg/heavenly.jpg" class="img-responsive" style="margin: 20px 0;">
					<div class="row">
						<div class="col-sm-12">
							<div class="music-info">
								<h4 class="border-line"><span><i class="fas fa-music" style="font-size: 15px;"></i></span> Music Information</h4>
								<h5>アーティスト</h5>
								<!-- アーティスト名 -->
								<p class="border-line">L’Arc~en~Ciel</p>
								<h5><span><i class="fas fa-compact-disc" style="font-size: 20px;"></i></span>レーベル名</h5>
								<!-- レーベル名 -->
								<p class="border-line">キューンミュージック</p>
								<h5>ジャンル</h5>
								<!-- ジャンル名 -->
								<p class="border-line">J-POP</p>
							</div>
							<div class="cart-box">
								<!-- カートアイコン画像 -->
								<img src="/itemimg/cart.png">
								<!-- item数の選択 -->
								<select id="select01">
									<option value="value01">1</option>
									<option value="value02">2</option>
									<option value="value03">3</option>
									<option value="value04">4</option>
									<option value="value05">5</option>
									<option value="value06">6</option>
									<option value="value07">7</option>
									<option value="value08">8</option>
									<option value="value09">9</option>
								</select>
							</div>
							<a class="btn btn-warning btn-block" href="#" role="button" style="margin: 10px 0;"><span><i class="fas fa-cart-arrow-down" style="font-size: 20px;"></i></span> カートに入れる</a>
						</div>
					</div>
				</div>
				<!-- 右サイド -->
				<div class="content-right col-sm-8">
					<div class="row">
						<div class="col-sm-11">
							<!-- itemタイトル名 -->
							<div class="music-title"><h2><strong>heavenly</strong></h2></div>
							<div class="title-list">
								<table class="table">
									<thead>
										<tr>
											<th>track</th>
											<th><p class="text-center">曲名</p></th>
											<th><p class="text-center"> 時間</p></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1</th>
											<td>still I'm With you</td>
											<td>4:14</td>
										</tr>
										<tr>
											<th>2</th>
											<td>Vivid Colors</td>
											<td>4:46</td>
										</tr>
										<tr>
											<th>3</th>
											<td>and She Said</td>
											<td>4:43</td>
										</tr>
										<tr>
											<th>4</th>
											<td>ガラス玉</td>
											<td>5:06</td>
										</tr>
										<tr>
											<th>5</th>
											<td>Secret Signs</td>
											<td>3:37</td>
										</tr>
										<tr>
											<th>6</th>
											<td>C'est La Vie</td>
											<td>4:05</td>
										</tr>
										<tr>
											<th>7</th>
											<td>夏の憂鬱</td>
											<td>4:13</td>
										</tr>
										<tr>
											<th>8</th>
											<td>Cureless</td>
											<td>4:52</td>
										</tr>
										<tr>
											<th>9</th>
											<td>静かの海で</td>
											<td>7:14</td>
										</tr>
										<tr>
											<th>10</th>
											<td>The Rain Leaves a Scar</td>
											<td>3:53</td>
										</tr>
									</tbody>
								</table>
								<a class="btn btn-danger btn-lg btn-block" href="#" role="button" style="margin: 50px 0;"><i class="fas fa-shopping-cart" style="font-size: 20px"></i> カートへ</a>
								<div class="music-title"><h3><strong>ユーザーレビュー</strong></h3></div>
								<!-- レビュー表示 -->
								<div class="review-box">
									<p>Vivid colors,and she said,rain leavesはハードロック
										特にcureless,rain leaves a scar,vivid colorsはイイ曲だね
										俺自身もheavenlyにハマるまでは、ちょっと時間かかったから
										良さがわかるまで、ちょっと時間がかかるアルバムかもしれない
										まあ、個人差あるけど
										あと個人的に夏の憂鬱は、このアルバムに入ってるヤツのほうが好き
										ギターソロとかも、こっちのほうがイイ気がする。少数派だと思うけど

										ちなみに、ラルクのオリアルでラスト曲がアップテンポなのは、このアルバムとsmileだけ
									それぞれ、rain leavesとspirit dreamsだからな</p>
								</div>
								<div class="review-box"><p>実はこれが初ﾗﾙｸなんです。
									以前と今声が全然違うので懐かしいです。
									歌詞を初めて見た時はどうやったらこんないいの書けるの〜
									と思っていました。
									どんどん変わっていくﾗﾙｸにいつもワクワクしています。
									昔からのファンなので今のﾗﾙｸのような
									人に幸せを与えられて影響を与えられるようなそんな作品作ってほしいです。
									あんまりこのCDは聞く機会がないのですが
									原因はなんだか貴重に思えてしまうからです。
									声が違うので。。。
								声が変わった。。。</p></div>
								<div class="review-box"><p>ラルクが好きなので、全部集める為の一つとして買いました。このアルバムには毎日聴きたくなるような曲は少なく、後回しにしていて、やっと買いました。買えてとても良かったです。</p></div>
								<div class="review-box"><p>heavenlyは、綺麗な曲が多いのでとても好きなアルバムです。</p></div>
								<div class="review-box"><p>このアルバムは、原石のよう。hydeの声が、とても自然でよい。曲を感じて表情を変えて歌えるのは彼の魅力だと思うのですが、ヘヴンリーでは作り込みすぎず、自然体で表現していて豊かな広がりを感じました。still i'm~ は、当時の彼らの心境が伝わってきます。春のざらっとした風と、まだ冷たさの残る空。心は未来を期待している。前２作では、彼らの内向的でやや閉鎖ぎみな見方が色濃く出ていましたが、ここでは伝えようと開いていく前向きな姿勢を感じられて、どこか透明な憂いを感じます。vivid~ の切実さや、後の風にきえないでなど、この頃の彼らにしかない魅力があります。ラルクの音楽には、ひとり窓辺で空を見上げるような孤独感がありますが、いつもどこか遠いところにある暖かな何かを求めているように思います。ガラス玉や静かの海での持つ世界観に共感できるものがあると、きっと惹かれるのでは。。若さ故の希望と苦悩、きらめきと危うさを感じます。そしてhydeの妖艶さがみずみずしい。何かに向かって進むときに響いてくる、また、いつかの日を懐かしむような。素敵なアルバムです。</p></div>
								<!-- form_for部分を入れる -->
								<div class="review-up-box">
									<h3><strong>レビュー投稿</strong></h3>
									<form>
										<div class="form-group">
											<textarea placeholder="レビュー本文入力欄" rows="8" class="form-control"></textarea>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-default pull-right">送信</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>