<div class="news-index">
  <div class="clearfix">
    <div class="sidebar">
      <div class="user-content">
        <div class="user-image">
        </div>
        <div class="user-profile">
          <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
          <a class="my-side" href="#" style="text-decoration: none;">CART</a>
          <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
          <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
        </div>
      </div>
    </div>
    <!-- main -->
    <div class="container-fluid">
      <div class="row">
        <div class="order-item-main">
          <div class="order-item-title"><h3><strong>Buy History</strong></h3></div>
          <div class="order-item-content clearfix">
            <div class="order-item-image col-sm-3 col-md-3">
            </div>
            <div class="order-item-caption col-sm-9 col-md-9">
              <div class="order-item-text">
                <h3 class="order-item-date">2018/7/1</h3>
                <table class="order-item-table">
                <tr>
                  <th>商品名</th>
                  <th>数量</th>
                  <th>金額</th>
                </tr>
                <tr>
                  <td class="order-item-name">Mr.Children 1992-1995</td>
                  <td class="order-item-quantity">3個</td>
                  <td class="order-item-price">2180円</td>
                </tr>
                <tr>
                  <td class="order-item-name">Mr.Children 1992-1995</td>
                  <td class="order-item-quantity">3個</td>
                  <td class="order-item-price">2180円</td>
                </tr>
                <tr>
                  <td class="order-item-name">Mr.Children 1992-1995</td>
                  <td class="order-item-quantity">3個</td>
                  <td class="order-item-price">2180円</td>
                </tr>
                </table>
              </div>
            </div>




          <div class="pagenation">
           <%= paginate @items, class: "pagenate" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
