<body>
 <div class="content clearfix">
   <div class="sidebar">
    <div class="user-content">
      <div class="user-image">
      </div>
      <div class="user-profile">
          <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
          <a class="my-side" href="#" style="text-decoration: none;">CART</a>
          <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
          <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
      </div>
    </div>
   </div>
     <div class="main-content">
       <div class="buy-item-content">
         <div class="buy-massege">
          <p>購入が確定しました！</p>
         </div>
           <div class="top-btn">
            <a href="#" class="square_btn">トップページへ戻る</a>
           </div>
        </div>
       </div>
     </div>
   </div>
 </div>
</body>













