
.admin-show-container {
  width: 100%;
  height: 800px;
  background-color: #222222;
}

.user-index-table {
  color: white;
  margin-top: 20px;
}

.user-index-sabtable td {
  border-bottom: 1px solid gray;
  padding: 10px 0 10px 0;
}

.user-nopic-index {
  width: 60px;
  height:60px;
}

.user-index-title {
  color: #fff;
  border-bottom: 2px solid gray;
  font-size: 30px;
  margin-top: 10px;
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
}

/*.user-pic-index {
  width: 60px;
  height: 180px;
  border-radius: 90px;
  margin-top: 15px;
}*/
