/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*.cart-table > thead > tr > th,
.cart-table > thead > tr > td,
.cart-table > tbody > tr > th,
.cart-table > tbody > tr > td,
.cart-table > tfoot > tr > th,
.cart-table > tfoot > tr > td {
  border-bottom: 1px solid gray;
  border-top: 0px;*/
/*}
*/.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: gray;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  float: left;
}
.form-group {
  margin-bottom: 0px;
  border-bottom: 1px solid #EEEEEE;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: black;
}

#head-content .responsib-menu .responsib-item {
  text-decoration: none;
}

.notlogin-image {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  margin: auto;
  margin-top: 10px;
  background-image: url(/user1.png);
  background-size: cover;
  margin-top: 15px;
}

.admin-image {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  margin: auto;
  margin-top: 10px;
  background-image: url(/admin1.jpg);
  background-size: cover;
  margin-top: 15px;
}


.user-nopic-side {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  margin-top: 15px;
}

.user-pic-side {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  margin-top: 15px;
}

.invisible {
  transition: opacity 0.5s ease;
  opacity: 0.0;
}

.visible {
  transition: opacity 0.5s ease;
  opacity: 1.0;
}

.login-name {
  color: #ffa500;
  font-size: 16px;
  margin-right: 100px;
}

.head-title-login {
  font-size: 50px;
  color: white;
  margin-right: 280px;
}
button,
input,
optgroup,
select,
textarea {
  color: black;
  font: inherit;
  margin: 0;
}