.carts-table {
	color: #EEEEEE;
	font-size: 16px;
}
.carts-table .table > thead > tr > th,
.carts-table .table > thead > tr > td,
.carts-table .table > tbody > tr > th,
.carts-table .table > tbody > tr > td,
.carts-table .table > tfoot > tr > th,
.carts-table .table > tfoot > tr > td {
	vertical-align: middle;
	text-align: center;
}
.osiharai {
	font-size: 35px;
	font-family: verdana;
}
.flash {
	color: #EEEEEE
}