/*-----new*/

.delivery-address-post-main {
  width: 80%;
  height: 800px;
  padding: 0 20px 0 20px;
  float: right;
  border: 3px solid #444444;
  background-color: #222222;
  overflow: scroll;
}

.delivery-address-post {
  margin-top: 10px;
  padding: 30px;
  color: white;
  font-size: 20px;
  background-image: url(/form用2.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid white;
}

.delivery-address-post-sab {
  width: 45%;
  box-shadow: 1px 10px 100px rgba(0, 0, 0, .4);
  padding: 20px;
  border-radius: 5px;
}

.delivery-form-btn {
  margin-top: 20px;
}


/*-----index*/



.delivery-address-main {
  width: 80%;
  height: 800px;
  padding-left: 20px;
  float: right;
  border: 3px solid #444444;
  background-color: #222222;
  overflow: scroll;
}

.delivery-address-content {
  height: 150px;
  margin: 20px 0;
}

.delivery-address-text {
  padding: 5px 0 0 30px;
}

.delivery-address-table {
  color: white;
  font-size: 15px;
}

.delivery-address-table th {
  padding: 0 20px 0 0;
}

.delivery-address-table td {
  padding: 10px 25px 5px 0;
  border-bottom: 1px solid gray;
}

.delivery-address-name {
  text-align: center;
}

.delivery-address ul {
}

.delivery-address-date {
  color: wheat;
}

.delivery-address-title h3 {
  font-size: 40px;
  color: white;
  margin-left: 40px;
}

.delivery-btn{
  width: 70px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, .2);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.delivery-btn:hover {
    background-color: rgba(255, 255, 255, .7);
    text-decoration: none;
    color: #222222;
}

.delivery-btn-content {
  border-bottom: none;
}
