.main-content {
  width: 80%;
  height: 800px;
  border: 3px solid #444444;
  float: left;
  overflow: scroll;
  background-color: #222222;
}

.title {
  text-align: left;
  color: white;
  font-family: verdana;
  font-size: 35px;
}

.title h3 {
  margin: 20px 20px 20px 60px;
  font-size: 40px;
}

.item-content {
  margin: 20px;
}

.portfolio-item {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 5px solid gray;
  float: left;
  background-color: black;
  margin-bottom: 10px;
}

.portfolio-item-content{
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.5);
  transition: all 0.5s linear;
}

.portfolio-item-content:hover {
  transform: rotateY(180deg);
  opacity: 0.5;
  z-index: 100;
}

.portfolio-item:nth-child(1) {
  margin-bottom: 20px;
  background-image: url(/microphone-3484199_640.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(2) {
  background-image: url(/b-boying-413726_640.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(3) {
  margin-bottom: 20px;
  background-image: url(/close-3111177_640.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(4) {
  margin-bottom: 20px;
  background-image: url(/record-3195585_640.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(5) {
  background-image: url(/mic-1132528_640.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(6) {
  margin-bottom: 20px;
  background-image: url(/guitar-756326_640.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(7) {
  background-image: url(/concert-1149979_640.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(8) {
  background-image: url(/south-korea-1151149_640.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(9) {
  background-image: url(/sunset-3523035_640.jpg);
  background-size: cover;
  background-position: center;
}
.portfolio-image {
  color: #EEEEEE;
  font-size: 100px;
  background-color: transparent;
  padding-top: 28%;
  padding-left: 28%;
}

.item-text{
  background-color: transparent;
  text-align: center;
  color: #EEEEEE;
  font-size: 20px;
  font-family: verdana;
  line-height: 10px;
  padding-top: 20px;
}


.item-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

