// index
.news-main {
	width: 80%;
	height: 800px;
	padding-left: 20px;
	float: right;
	border: 3px solid #444444;
	background-color: #222222;
	overflow: scroll;
}
img {
  max-width: 100%;
}

.grid-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 30%;
}

.grid-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.news-content {
	margin: 20px 0;
}
.news-caption p {
	color: white;
	padding-top: 13%;
	// margin-top: 15px;
}
.button-box {
	margin-top: 10%;
}
// show-page
.news-show .sidebar {
	height: 800px;
}
.news-show-main {
	width: 80%;
	height: 800px;
	padding-left: 20px;
	float: right;
	border: 3px solid #444444;
	background-color: #222222;
}
.news-show-title {
	margin: 15px 0;
	font-size: 22px;
	color: white;
}
.news-show-caption p {
	color: white;
}
// new
.news-new-main {
	width: 80%;
	height: 800px;
	padding-left: 20px;
	float: right;
	border: 3px solid #444444;
	background-color: #222222;
	overflow: scroll;
}
.news-new-content {
	padding-top: 100px;
}
.news-new-list {
	margin: 30px 0;
	color: white;
	font-size: 20px;
}
.upimage {
	margin-top: 30px;
}