// index
.news-main #notice {
	color: white;
}
.news-main {
	width: 80%;
	height: 800px;
	padding: 0 20px;
	border: 3px solid #444444;
	background-color: #222222;
	overflow: scroll;
}
.news-content {
	margin: 20px 0;
}
.image-box {
	margin-bottom: 20px;
}
.news-caption {
	color: white;
	margin-top: 10px;
}
.button-box {
	margin-top: 30px;
}
// show-page
.news-show-main #notice {
	color: white;
}
.news-show-main {
	width: 80%;
	height: 800px;
	padding-left: 20px;
	float: right;
	border: 3px solid #444444;
	background-color: #222222;
}
.news-show-title {
	margin: 15px 0;
	font-size: 22px;
	color: white;
}
.news-show-caption {
	color: white;
}
// new, edit
.news-new-main {
	width: 80%;
	height: 800px;
	padding-left: 20px;
	float: right;
	border: 3px solid #444444;
	background-color: #222222;
	overflow: scroll;
}
.news-new-main .title {
	padding: 0;
	text-align: center;
}
.news-new-content {
	margin: 20px 0;
	padding: 25px 15%;
}
.contents-bg {
	margin: 30px 0;
	padding: 20px 5%;
	background-image: url(/newsimg/article-71341_1280.jpg);
	background-position: center;
	background-size: cover;
}
.news-new-list {
	background-color: rgba(0,0,0,0.6);
	color: white;
	font-size: 20px;
}
.news-new-list .form-group {
	margin: 30px 10%;
}
.upimage {
	margin-top: 30px;
}