// index
.order-main-content {
	color: white;
	width: 80%;
	height: 800px;
	padding-bottom: 50px;
	float: right;
	border: 3px solid #444444;
	background-color: #222222;
	overflow: scroll;
}
.order-title {
  text-align: left;
  color: white;
  font-family: verdana;
  font-size: 35px;

}
.order-title h3 {
  margin: 50px 30px;
  font-size: 40px;
  border-bottom: 3px solid gray;
}
.order-title h4 {
  margin: 40px 100px 25px;
  font-size: 20px;
  text-align: center;
}
.order-table {
	color: #EEEEEE;
	font-size: 16px;
}
.order-table .table > thead > tr > th,
.order-table .table > thead > tr > td,
.order-table .table > tbody > tr > th,
.order-table .table > tbody > tr > td,
.order-table .table > tfoot > tr > th,
.order-table .table > tfoot > tr > td {
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
}
.form-box {
	padding: 0 5%;
}
.form-box label {
	color: white;
}
.order-button {
	margin: 30px 30px 30px 0;
}
.payment-box {
	color: black;
}
.order-main-content .actions {
	margin: 30px 0;
	padding: 0 20%;
}
// show
.order-show-content {
	color: white;
	width: 80%;
	height: 800px;
	padding-bottom: 20px;
	float: right;
	border: 3px solid #444444;
	background-color: #222222;
	overflow: scroll;
}
.order-show-title {
  text-align: center;
  padding: 20px 20px;
  // color: white;
}
.order-show-border {
	border-bottom: 3px solid gray;
}
.order-show-title h2 {
  margin: 30px 0;
  font-size: 30px;
}
.order-show-table {
	padding: 0 15%;
	color: #EEEEEE;
}
.order-show-table .table > thead > tr > th,
.order-show-table .table > thead > tr > td,
.order-show-table .table > tbody > tr > th,
.order-show-table .table > tbody > tr > td,
.order-show-table .table > tfoot > tr > th,
.order-show-table .table > tfoot > tr > td {
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
}
.order-show-info {
	width: 350px;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
}
.order-show-button {
	margin: 60px 30px 50px;
}
.order-edit-content {
	color: white;
	width: 80%;
	height: 800px;
	padding-top: 150px;
	float: right;
	border: 3px solid #444444;
	background-color: #222222;
}
.edit-form-box {
	color: black;
	padding: 0 70px;
}
.edit-form-box label {
	color: white;
}
.order-edit-button {
	margin-top: 30px;
	padding: 0 75px;
}