/*-----new*/


.buy-item-content {
  height: 90%;
  margin: 35px 35px 35px 35px;
  background-image: url(/購入確定画面用.jpg);
  background-position: 50% 40%;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: (rgba(255, 255, 255, .3) 1px 1px 0);
}

.buy-item-content span {
  text-align: center;
  font-size: 28px;
  color: black;
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, .4);*/
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 1);
}

.buy-massege {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
            background-color: #eee;
  line-height: 50px;
  text-align: center;
}

.square_btn{
  width: 300px;
  height:150px;
  line-height: 150px;
  text-align: center;
  font-size: 25px;
    display: inline-block;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
    text-shadow: -1px 1px 0 rgba(255, 255, 255, 1);
    color: #222222;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
}

.square_btn:hover {
    background-color: rgba(255, 255, 255, .7);
    text-decoration: none;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.top-btn {
  text-align: center;
  line-height: 20;
  width: 50%;
  float: left;
}



/*-----index*/



.order-item-main {
  width: 80%;
  height: 800px;
  padding-left: 20px;
  float: right;
  border: 3px solid #444444;
  background-color: #222222;
  overflow: scroll;
}

.order-item-content {
  height: 220px;
  margin: 20px 0;
  overflow: scroll;
  border-bottom: 1px solid gray;
}

.order-item-image {
  float: left;
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  background-image: url(/song1.jpg);
  background-size: cover;
  background-position: center;
}

.order-item-text {
  padding-left: 30px;
}

.order-item-table {
  color: white;
  font-size: 15px;
}

.order-item-table th {
  padding: 0 20px 0 0;
}

.order-item-table td {
  padding: 10px 25px 0 0;
  border-bottom: 1px solid gray;
}

.order-item-name {
  text-align: center;
}

.order-item ul {
}

.order-item-date {
  color: wheat;
}

.order-item-title h3 {
  font-size: 40px;
  color: white;
  margin-left: 40px;
}

// show
.order-show-main {
  color: white;
  font-size: 16px;
  width: 80%;
  height: 800px;
  padding: 0 20px 50px;
  float: right;
  border: 3px solid #444444;
  background-color: #222222;
  overflow: scroll;
}
.order-item-containar{
  background-color: #222222;
}
